<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">
            Contribuições
        </div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Add contribution button -->
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="createContribution()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Contributions list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="(contributions$ | async) as contributions">
                <ng-container *ngIf="contributions.length > 0; else noContributions">
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="contribution-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort
                            matSortDisableClear>

                            <div
                                class=" md:block"
                                [mat-sort-header]="'date'">
                                Data
                            </div>
                            <div [mat-sort-header]="'amount'">Valor</div>
                            <div class="hidden sm:block">Details</div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="(contributions$ | async) as contributions">
                            <ng-container *ngFor="let contribution of contributions; trackBy: trackByFn">
                                <div class="contribution-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                    <!-- SKU -->
                                    <div class="hidden md:block">
                                        {{contribution.date}}
                                    </div>


                                    <div class="hidden sm:block">
                                        {{contribution.amount.amount | currency:contribution.amount.currency:'symbol':'1.2-2'}}
                                    </div>

                                    <!-- Details button -->
                                    <div>
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                            mat-stroked-button
                                            (click)="toggleDetails(contribution.id)">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="selectedContribution?.id === contribution.id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="grid">
                                    <ng-container *ngIf="selectedContribution?.id === contribution.id">
                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: contribution}"></ng-container>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <!--
                    <mat-paginator
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        [length]="pagination.length"
                        [pageIndex]="pagination.page"
                        [pageSize]="pagination.size"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true"></mat-paginator>
                    -->
                </ng-container>
            </ng-container>

            <ng-template
                #rowDetailsTemplate
                let-contribution>
                <div class="shadow-lg overflow-hidden">
                    <div class="flex border-b">
                        <!-- Selected contribution form -->
                        <form
                            class="flex flex-col w-full"
                            [formGroup]="selectedContributionForm">

                            <div class="flex flex-col sm:flex-row p-8">

                                <div class="flex flex-auto flex-wrap">
                                    <!-- Name, SKU & etc. -->
                                    <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">

                                        <!-- Name -->
                                        <mat-form-field class="w-full">
                                            <mat-label>Name</mat-label>
                                            <input
                                                matInput
                                                [formControlName]="'date'">
                                        </mat-form-field>

                                        <mat-form-field class="w-full">
                                            <mat-label>Valor</mat-label>
                                            <span matSuffix>$</span>
                                            <input
                                                matInput
                                                [formControlName]="'amount'">
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                            <div class="flex items-center justify-between w-full border-t px-8 py-4">
                                <button
                                    class="-ml-4"
                                    mat-button
                                    [color]="'warn'"
                                    (click)="deleteSelectedContribution()">
                                    Delete
                                </button>
                                <div class="flex items-center">
                                    <div
                                        class="flex items-center mr-4"
                                        *ngIf="flashMessage">
                                        <ng-container *ngIf="flashMessage === 'success'">
                                            <mat-icon
                                                class="text-green-500"
                                                [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                            <span class="ml-2">Contribution updated</span>
                                        </ng-container>
                                        <ng-container *ngIf="flashMessage === 'error'">
                                            <mat-icon
                                                class="text-red-500"
                                                [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                            <span class="ml-2">An error occurred, try again!</span>
                                        </ng-container>
                                    </div>
                                    <button
                                        mat-flat-button
                                        [color]="'primary'"
                                        (click)="updateSelectedContribution()">
                                        Update
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </ng-template>

            <ng-template #noContributions>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no contributions!</div>
            </ng-template>

        </div>

    </div>

</div>
